lab10/conditions.sh
lab10/hello_variable.sh
lab10/hello_world.sh
lab10/input.sh
lab10/print_variable.sh
lab10/variable.sh
lab6/OS_Lab6_JonathanLundqvist.odt
lab7/OS_Lab7_JonathanLundqvist.odt
lab8/FCFSTestcase0.txt
lab8/FCFSTestcase2.txt
lab8/FCFSTestcase3.txt
lab8/FCFSTestcase4.txt
lab8/STRNTestcase0.txt
lab8/STRNTestcase2.txt
lab8/STRNTestcase3.txt
lab8/STRNTestcase4.txt
lab8/Testcase2.txt
lab8/Testcase3.txt
lab8/Testcase4.txt
lab8/Testcase5.txt

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
